@{
    //ViewData["Title"] = ViewBag.title + "(" + ViewBag.OperatorId + ")";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool? finalApproval = (bool?)ViewBag.approve;
    bool? finalReject = (bool?)ViewBag.reject;
}

@section Css{
    <link rel="stylesheet" href="~/dist/formeo.min.css" type="text/css" />
    <style>
        #render-form {
            pointer-events: none;
        }

        /*{
            pointer-events: all;
        }*/

        .card {
            margin-bottom: 2px !important;
        }

        .btn-link {
            text-decoration: none !important;
            font-weight: bold;
        }

        .error {
            color: red;
        }
    </style>
}



    @*<div id="accordion">
    <div class="card">
        <div class="card-header" style=" background-color:#E9ECEF" id="headingThree">
            <h5 class="mb-0">
                @if (ViewBag.MasterEntryId == null)
                {
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Click here to preview submitted Tariff
                    </button>
                }
                else
                {
                    <button class="btn btn-link collapsed pull-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Click here to preview submitted Tariff
                    </button>
                    <a href="~/Forms/ViewTariff/@ViewBag.MasterEntryId" class="text-danger text-small pull-right" target="_blank"> Click here to see @ViewBag.MasterEntryName</a>
                }
            </h5>
        </div>*@
    @*<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">*@
    <a href="~/Forms/Details" class="text-danger"><i class="fa fa-angle-double-left"></i> Go Back</a>
    <div class="card">
        <div class="w-100 pt-4">
            <button id="btnPrint" type="button" data-toggle="modal" data-target="dvPrint" class="text-secondary btn btn-link close pull-right mr-3" title="Print this form"><i class="fa fa-2x fa-print"></i></button>

        </div>
        <div id="form-loader" class="form-loader">
            <div class="text-center"><img src="~/img/loading.gif" /></div>
        </div>
        <div id="render-form" class="modal-body">
        </div>
        @if (ViewBag.ReviewStats != "APPROVED" && ViewBag.ReviewStats != "REJECTED")
    {
        <div class="w-100 pt-3 border-top">
            <h4 align="center">Official Use Only</h4>
            <div class="form-group">
                <small>Remarks/Comment</small>
                <textarea class="form-control" id="remark" name="remark" data-rule-validRemark="true" required></textarea>
                <div id="remError"></div>
            </div>
            <div class="w-100">
                <input type="hidden" id="Status" name="Status" value="@ViewBag.ReviewStats" />
                <input type="hidden" id="Entry" name="Entry" value="@ViewBag.id" />
                                                @if (finalReject.HasValue && finalApproval.HasValue)
                {

                    @if (finalReject.Value)
                    {
                        <button class="btn btn-danger btn-sm process pull-left " data-datac="REJECTED" type="button"><i class="fa fa-ban"></i> Reject</button>
                    }

                    @if (finalApproval.Value)
                    {
                        <button class="btn btn-primary btn-sm process pull-right" data-datac="APPROVED" type="button"><i class="fa fa-check"></i> Approve</button>
                    }
                }
                else
                {
                    <button class="btn btn-danger btn-sm process pull-left " data-datac="REJECTED" type="button"><i class="fa fa-ban"></i> Reject</button>
                    <button class="btn btn-primary btn-sm process pull-right" data-datac="APPROVED" type="button"><i class="fa fa-check"></i> Approve</button>
                }
                <br />
            </div>
        </div>
    }


</div>
@*</div>*@
@*</div>*@
@*</div>*@


@section Scripts{

    <script src="~/dist/formeo.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $('#btnPrint').click(function() {
            try {
                $('#render-form').printThis({
                    importCSS: true,
                })
            }
            catch (e) {
                alert(e);
            }
        })

        function DisplayForm() {
            try {
                $('.form-loader').removeAttr('style');
                $('.modal-body').removeAttr('style');

                $('.form-loader').attr('style', 'display:none');
                $('.modal-body').attr('style', 'display:normal');
            } catch (e) {
            }
        }
        Array.prototype.contains = function(elem) {
            for (i in this) {
                if ($(this[i]).prop('tagName') == elem) return true;
            }
            return false;
        }

        function DisplayFormLoader() {
            try {
                $('.form-loader').removeAttr('style');
                $('.modal-body').removeAttr('style');

                $('.form-loader').attr('style', 'display:normal');
                $('.modal-body').attr('style', 'display:none');
            } catch (e) {
            }
        }

        function details() {
            try {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                DisplayFormLoader();
                $.ajax({
                    url: "/Forms/SurveyDetails",
                    type: "POST",
                    data: { "entry": id },
                    dataType: 'json',
                    //contentType: 'application/json; charset=UTF-8',
                    success: function(response) {
                        if (response.template != '') {
                            debugger;
                            $(".loader").attr('style', 'none');
                            $('#render-form').html(response.template);
                            console.log(response.template);
                        } else {
                            var rendr = new FormeoRenderer({ renderContainer: '#render-form' });
                            rendr.render(JSON.parse(cnt));
                        }

                        //fill form
                        try {
                            var index = 0;
                            if (response.data != '') {
                                debugger;
                                $.each(response.data, function (i, v) {
                                   // debugger;
                                    index = i;
                                    $('#render-form').find('#' + $.escapeSelector(v.fieldName.replace(/\//g, "\\/"))).val(v.response);
                                    //$('#render-form').find('#' + v.fieldName).val(v.response);
                                });
                                //console.log("done");
                            }
                        } catch (e) {
                            console.log(index,e);
                        }

                        //highlight changed values
                        if (response.changeddata != '') {
                            $.each(response.changeddata, function(i, v) {
                                $('#render-form').find('#' + $.escapeSelector(v.fieldName.replace(/\//g, "\\/"))).addClass("text-danger");
                                //$('#render-form').find('#' + v.fieldName).addClass("text-danger");
                            });
                            //console.log("donetoo");
                        }
                        $('#render-form :button').hide();
                        DisplayForm();
                    },
                    error: function(err) {
                        alert(err);
                        $('#render-form').html('<h2>ERROR: ' + err + '</h2>');
                        DisplayForm();
                    }
                });
            } catch (e) {
                alert(e);
                DisplayForm();
            }
        };

        details();

        //$('.process').click(function () {
        //    var remark = $('#remark').val();
        //    var status = $(this).data('datac');

        //    if ($.trim(remark) == "") {
        //        $("#remError").html("<p class='text-danger'>The Remark field is Required</p>")
        //        $("#remError").addClass("error");
        //    }
        //    else {
        //        $("#Status").val(status);
        //        openTaskManager();
        //    }
        //});

        $('.process').click(function() {
            var remark = $('#remark').val();
            var status = $(this).data('datac');
            var sCurrentUrl = window.location.href;
            var i = $(this).children("i");
            i.removeAttr("class");
            i.addClass("fa fa-gear fa-spin");
            if (confirm("This operation is irreversible. Please confirm!")) {
                if ($.trim(remark) == "") {
                    $("#remError").html("<p class='text-danger'>The Remark field is Required</p>")
                    $("#remError").addClass("error");
                }
                var formData = new FormData();
                var id = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
                var dataType = "SURVEY_NOTIFICATION";

                formData.append("remarks", remark);
                formData.append("status", status);
                formData.append("entryId", id);
                formData.append("dataType", dataType);

                $.ajax({
                    url: "/Forms/PostRemark",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                }).done(function() {

                    $.ajax({
                        url: "/Workflows/TerminateTask",
                        type: "POST",
                        data: { "ActionUrl": sCurrentUrl },
                        complete: function(response) {
                            alert("Remark submitted successfully!");

                            i.removeAttr("class");

                            if (status == 'APPROVED') {
                                i.addClass("fa fa-check");
                            }

                            if (status == 'REJECTED') {
                                i.addClass("fa fa-ban");
                            }
                            window.location.reload();
                        }
                    });


                }).fail(function() {
                    alert("There was and unexpected error while processing your request!");

                });




                //}
            }

        });


    </script>

}