<!-- Topbar Menu -->
<ul id="opr_menu" class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center breadcrumb">
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Dashboard" class="nav-link active">
            <i class="fa fa-bars"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Survey" class="nav-link">
            <i class="fa fa-question-circle"></i> Survey
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Tariff" asp-controller="Survey" class="nav-link">
            <i class="fa fa-money"></i> Tariff Request
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Notification" asp-controller="Survey" class="nav-link">
            <i class="fa fa-bell"></i> Notifications
        </a>
    </li>
    <li class="nav-item">
        <a href="~/Survey/Others" class="nav-link">
            <i class="fa fa-columns"></i> Other Services
        </a>
    </li>
</ul>
<!-- Topbar Menu /-->