
@{
    ViewData["Title"] = "CardTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CardTemplate</h1>

<!-- Index Template Card with Header and Footer List -->
<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3>
                    <i class="fi fi-list-1"></i>
                    List
                </h3>
            </div>
            <div class="card-body table-responsive p-0">
                <div class="tab-content p-0">
                    <br />

                    <!-- data table should be placed here-->

                    <br />
                </div>
            </div><!-- /.card-body -->
        </div>
    </div>
</div>

<!-- Details Template Card with Header and Footer List -->
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3>
                    <i class="fi fi-paperclip"></i>
                    Details
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<!-- Create Template Card with Header and Footer List -->
<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3>
                    <i class="fi fi-adjust"></i>
                    Create
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<!-- Edit Template Card with Header and Footer List -->
<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3>
                    <i class="fi fi-adjust"></i>
                    Edit
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<!-- Delete Template Card with Header and Footer List -->
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="text-danger">
                    <i class="fi fi-trash"></i>
                    Are you sure you want to delete this?
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<!-- PICK DASHBOARD IDEAS FROM THIS PAGE
    file:///C:/Applications/Bootstraps/AdminLTE-3.0.4/pages/examples/project-detail.html
-->
<!-- PICK COLORED CARD TITLE FROM THIS PAGE
    file:///C:/Applications/Bootstraps/AdminLTE-3.0.4/pages/examples/project-edit.html
-->
<!-- PICK DASHBOARD IDEAS FROM THIS PAGE
    file:///C:/Applications/Bootstraps/AdminLTE-3.0.4/pages/widgets.html
-->
<!--PICK VIDEO PLAYING PAGE IDEAS FROM HERE
    file:///C:/Applications/Bootstraps/AdminLTE-3.0.4/pages/UI/timeline.html
-->
