

<div class="row">
    <div class="col-lg-12 text-center">
        <label class="text-danger">@ViewBag.TaskMessage</label>
        <br /><br />
        <a href="javascript: newTask();" class="text-bold">Click here</a>
        to commit this work page as a 
        <span class="text-bold text-success">
            <a href="javascript: newTask();" class="text-bold">New Task</a>
        </span>.
        <br />or<br />
        <a href="~/Workflows/TaskList" class="text-bold">Click here</a>
        to see the tasks assigned to you.
    </div>
</div>