<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="formeo-render formeo formeo-rendered-0" id="f-3208a7eb-753c-4de0-890d-9205dcc1e51b">
        <div class="formeo-stage" id="f-63b4fe07-cd5c-491a-8c9b-9f1be6a5bde8">
            <div class="formeo-row-wrap f-input-group-wrap" id="72e3e828-eee7-422b-a04f-8038744a7583">
                <div class="f-field-group">
                    <label for="f-3ba512a3-c800-4e7e-a47c-31360ec3ea46">row</label>
                    <div class="formeo-row" id="f-3ba512a3-c800-4e7e-a47c-31360ec3ea46">
                        <div class="f-field-group">
                            <label for="f-1bf4fb56-7fea-4105-898b-55fa7f703a5d">column</label>
                            <div class="formeo-column" id="f-1bf4fb56-7fea-4105-898b-55fa7f703a5d" style="width: 100%;">
                                <div class="f-field-group">
                                    <label for="f-c313759c-4843-48bc-885c-c65620144ffa">Fullname</label>
                                    <input name="f-c313759c-4843-48bc-885c-c65620144ffa" type="text" id="f-c313759c-4843-48bc-885c-c65620144ffa">
                                </div>
                            </div>
                        </div>
                        <div class="formeo-column" id="f-bc6e928d-1be2-4b11-8980-c4f0c475449d" style="width: 100%;">
                            <div class="f-field-group">
                                <label for="f-511fbefd-3f98-4c75-9b6f-f6cc26736730">Age</label>
                                <input name="f-511fbefd-3f98-4c75-9b6f-f6cc26736730" type="number" id="f-511fbefd-3f98-4c75-9b6f-f6cc26736730">
                            </div>
                        </div>
                        <div class="formeo-column" id="f-2a0d6c31-33a3-4cf7-b6f6-ae4ea2ebd418" style="width: 100%;">
                            <div class="f-field-group">
                                <label for="f-c76b5a16-34e3-4480-af40-6d7c79a332ac">State Of Origin</label>
                                <select name="f-c76b5a16-34e3-4480-af40-6d7c79a332ac" id="f-c76b5a16-34e3-4480-af40-6d7c79a332ac">
                                    <option label="Abuja" value="Abuja">Abuja</option>
                                    <option label="Lagos" value="Lagos">Lagos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="add-input-group btn pull-right" type="button" id="f-eba89f0b-68cc-4532-a218-16a37ecb3c8c">Add +</button>
            </div>
        </div>
    </div>




    <div class="formeo-render formeo formeo-rendered-0" id="f-3208a7eb-753c-4de0-890d-9205dcc1e51b">
    <div class="formeo-stage" id="f-63b4fe07-cd5c-491a-8c9b-9f1be6a5bde8">
        <div class="formeo-row-wrap f-input-group-wrap" id="61c5b044-0219-44a7-92cc-9135b52e9fd4">
        <div class="f-field-group">
            <label for="f-3ba512a3-c800-4e7e-a47c-31360ec3ea46">row</label>
            <div class="formeo-row" id="f-3ba512a3-c800-4e7e-a47c-31360ec3ea46">
            <div class="f-field-group">
                <label for="f-1bf4fb56-7fea-4105-898b-55fa7f703a5d">column</label>
                <div class="formeo-column" id="f-1bf4fb56-7fea-4105-898b-55fa7f703a5d" style="width: 100%;">
                <div class="f-field-group">
                    <label for="f-c313759c-4843-48bc-885c-c65620144ffa">Fullname</label>
                    <input name="f-c313759c-4843-48bc-885c-c65620144ffa" type="text" id="f-c313759c-4843-48bc-885c-c65620144ffa">
                    </div>
                    </div>
                </div>
            <div class="formeo-column" id="f-bc6e928d-1be2-4b11-8980-c4f0c475449d" style="width: 100%;">
                <div class="f-field-group">
                <label for="f-511fbefd-3f98-4c75-9b6f-f6cc26736730">Age</label>
                <input name="f-511fbefd-3f98-4c75-9b6f-f6cc26736730" type="number" id="f-511fbefd-3f98-4c75-9b6f-f6cc26736730">
                    </div>
                </div>
            <div class="formeo-column" id="f-2a0d6c31-33a3-4cf7-b6f6-ae4ea2ebd418" style="width: 100%;">
                <div class="f-field-group">
                <label for="f-c76b5a16-34e3-4480-af40-6d7c79a332ac">State Of Origin</label>
                <select name="f-c76b5a16-34e3-4480-af40-6d7c79a332ac" id="f-c76b5a16-34e3-4480-af40-6d7c79a332ac">
                    <option label="Abuja" value="Abuja">Abuja</option>
                    <option label="Lagos" value="Lagos">Lagos</option>
                </select>
                    </div>
                </div>
                </div>
            </div>
        <div class="f-field-group">
            <label for="f-f-09df7044-4873-4d17-8b3d-78202a1a9f82">row</label>
            <div class="formeo-row" id="f-f-09df7044-4873-4d17-8b3d-78202a1a9f82">
            <div class="f-field-group">
                <label for="f-3e7b6c52-8688-4c11-b76d-7bba9de036c8">column</label>
                <div class="formeo-column" id="f-3e7b6c52-8688-4c11-b76d-7bba9de036c8" style="width: 100%;">
                    <div class="f-field-group">
                        <label for="f-96c0e34d-b9ef-474c-acc1-c107aa828723">Fullname</label>
                        <input name="f-96c0e34d-b9ef-474c-acc1-c107aa828723" type="text" id="f-96c0e34d-b9ef-474c-acc1-c107aa828723">
                    </div>
                </div>
            </div>
            <div class="formeo-column" id="f-3bfe1283-d50d-4e3d-8f1c-4bf7a1dcf884" style="width: 100%;">
                <div class="f-field-group">
                    <label for="f-8850dc90-305f-4d4c-8bab-63155c6ad793">Age</label>
                    <input name="f-8850dc90-305f-4d4c-8bab-63155c6ad793" type="number" id="f-8850dc90-305f-4d4c-8bab-63155c6ad793">
                </div>
            </div>
            <div class="formeo-column" id="f-844d4d40-4ced-427c-96bd-ecdeab45a6c5" style="width: 100%;">
                <div class="f-field-group">
                    <label for="f-0c24e0f3-3295-4ab0-8352-ab82f9724d04">State Of Origin</label>
                    <select name="f-0c24e0f3-3295-4ab0-8352-ab82f9724d04" id="f-0c24e0f3-3295-4ab0-8352-ab82f9724d04">
                        <option label="Abuja" value="Abuja">Abuja</option>
                        <option label="Lagos" value="Lagos">Lagos</option>
                    </select>
                </div>
                </div>
                </div>
            <button type="button" class="remove-input-group" id="f-473f2032-6bba-4029-a26e-f51511ae6237">remove</button>
            </div>
        <button class="add-input-group btn pull-right" type="button" id="f-789b7d68-5106-4ba0-8c72-eb7ebe5cfe8d">Add +</button>
            </div></div></div><input type="hidden" name="FormId" value="39">





</body>
</html>