#mydiv {
    position: relative;
    background-color: #f1f1f1;
    text-align: left;
    border: 1px solid #d3d3d3;

}

#mydivheader {
    padding: 10px;
    cursor: move;
    background-color: #2196F3;
    color: #2196F3;
}
