
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Economic Analysis &amp; Tariff Management System</title>
    <meta name="description" content="Economic Analysis and Tariff Management System">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/fontastic.css">
    <link rel="stylesheet" href="~/assets/fontisto/fontisto.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="~/assets/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <link rel="stylesheet" href="~/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/assets/css/style.blue.premium.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/vendor/ladda/ladda-themeless.min.css">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
</head>
<body>
    <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" >
                <div class="w-100 py-5 ">
                    <div class="text-center ml-n5">
                        <img src="~/assets/img/ncclogo.svg" alt="Nigerian Communications Commission" style="max-width: 5rem;" class="img-fluid">

                        <div class="mb-3 text-primary">
                            <h5>ECONOMIC ANALYSIS & TARIFF ADMINISTRATION SYSTEM (EATAS)</h5>
                        </div>

                        <h1 class="display-4 mb-3">
                            <i class="fa fa-gear fa-spin"></i>
                        </h1>                        
                        <div class="row">
                            <h6 class="small col-12"><a style="text-decoration:none" href="#"><i class="fa fa-user"></i> Login again</a></h6>
                            <br />
                            <h6 class="small col-12"><a style="text-decoration:none" href="#"><i class="fa fa-arrow-right"></i> Goto NCC Apps</a></h6>
                        </div>
                        <p style="color:red; font-size:12px;"> Validating user credentials...</p>

                    </div>
                    <div class="form-group error">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript files-->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="~/assets/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/assets/vendor/ladda/spin.min.js"></script>
    <script src="~/assets/vendor/ladda/ladda.min.js"></script>
    <script src="~/assets/js/components-ladda.js"></script>
    <!-- Main File-->
    <script src="~/assets/js/front.js"></script>
</body>
</html>

